In [3]:
import pandas as pd
import numpy as np

In [4]:
file = '../DATA/n_conDF.csv'

In [5]:
n_conDF = pd.read_csv(file)
n_conDF.head(10)

C:\Users\xnnly\AppData\Local\Temp\ipykernel_14472\3772225757.py:1: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  n_conDF = pd.read_csv(file)

,age,gender,membership_type_1,membership_type_2,membership_type_3,membership_type_4,membership_type_5,membership_type_6,tran_date,tran_time,...,ticket_cancel,discount_type,performance_code,pre_open_date,open_date,genre,place,running_time,intermission,member_yn
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20191020,1459,...,0,초대권,44,NaN,20191023.0,교향곡,콘서트홀,100,15,N
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190613,954,...,0,초대권,827,20190602.0,20190602.0,교향곡,콘서트홀,120,20,N
2,NaN,F,블루,무료,NaN,NaN,NaN,NaN,20190703,908,...,0,일반,1528,NaN,20190413.0,클래식,콘서트홀,100,15,N
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20220624,1618,...,2,일반,2344,20220430.0,20220430.0,교향곡,콘서트홀,110,15,N
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20200511,914,...,0,초대권,2778,20200403.0,20200406.0,교향곡,콘서트홀,120,15,N
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190919,1217,...,0,기획사판매,1005,NaN,20190826.0,클래식,콘서트홀,100,15,N
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20221112,1256,...,0,초대권,2260,NaN,20221107.0,교향곡,콘서트홀,95,15,N
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190308,1405,...,0,초대권,1496,20190303.0,20190303.0,교향곡,콘서트홀,90,20,N
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190704,1120,...,0,초대권,2215,20190710.0,20190710.0,교향곡,콘서트홀,110,15,N
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20190801,1521,...,0,기획사판매,40,20190715.0,20190715.0,성악,콘서트홀,120,20,N

In [6]:
n_conDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 599928 entries, 0 to 599927
Data columns (total 24 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   age                0 non-null       float64
 1   gender             350 non-null     object
 2   membership_type_1  350 non-null     object
 3   membership_type_2  317 non-null     object
 4   membership_type_3  52 non-null      object
 5   membership_type_4  2 non-null       object
 6   membership_type_5  0 non-null       float64
 7   membership_type_6  0 non-null       float64
 8   tran_date          599928 non-null  int64
 9   tran_time          599928 non-null  int64
 10  play_date          599928 non-null  int64
 11  play_st_time       599928 non-null  int64
 12  seat               599928 non-null  object
 13  price              599928 non-null  int64
 14  ticket_cancel      599928 non-null  int64
 15  discount_type      599928 non-null  object
 16  performance_code   599928 non-null  int64
 17  pre_open_date      351853 non-null  float64
 18  open_date          599928 non-null  float64
 19  genre              591567 non-null  object
 20  place              599928 non-null  object
 21  running_time       599928 non-null  int64
 22  intermission       599928 non-null  int64
 23  member_yn          599928 non-null  object
dtypes: float64(5), int64(9), object(10)
memory usage: 109.9+ MB

In [7]:
n_conDF.isna().sum()

age                  599928
gender               599578
membership_type_1    599578
membership_type_2    599611
membership_type_3    599876
membership_type_4    599926
membership_type_5    599928
membership_type_6    599928
tran_date                 0
tran_time                 0
play_date                 0
play_st_time              0
seat                      0
price                     0
ticket_cancel             0
discount_type             0
performance_code          0
pre_open_date        248075
open_date                 0
genre                  8361
place                     0
running_time              0
intermission              0
member_yn                 0
dtype: int64